.img-moto{
  height: 560px;
  margin-top: 200px;
}
.btn-show:disabled {
  background-color: gray;
}
.square{
  height: 20px;
  width: 20px;
}
.color-head{
  background-color: rgb(15, 15, 15);
}
.color-back{
  background-color: rgb(231, 26, 26);
}
.color-arm{
  background-color: rgb(223, 216, 13);
}
.color-leg-top{
  background-color: rgb(20, 233, 36);
}
.color-leg-bottom{
  background-color: rgb(244, 33, 130);
}
