<div class="center  w-70">
  <form [formGroup]="dataForm">
    <div>
      <label class="f2 b db ma2 mt4 green" for="motocycle-select" id="moto-label" translate>moto-label</label>
      <select class="ba b--green-20 pa2 mb2 db w-100 f3" id="motocycle-select" formControlName="motocycle" (change)="onChangeSelectMoto()" >
        <option  *ngFor="let moto of motocycles" [ngValue]="moto">{{moto.name}}</option>
      </select>
      <div class="relative  mt-5 flex">
        <div class="absolute" [class.dn]="this.isHideCanvas()" id="canvas-human">
        </div>
        <img *ngIf="this.getImgUrl()" [src]="this.getImgUrl()" alt="moto image" class="img-moto" >
        <div class="flex-column w-100">
          <div class="ba f3 b--green br3 pl3 pr3">
            <p *ngIf="this.getHeightSaddle()">
              {{'moto-info.height-saddle' | translate:{'heightSaddle': this.getHeightSaddle()} }}
            </p>
            <p *ngIf="this.getScale()">
              {{'moto-info.scale' | translate:{'scale': this.getScale()} }}
            </p>
            <p *ngIf="this.getCoordinateCenterSaddle()">
            {{'moto-info.coordinatesCenterSaddle' | translate:{'x': this.getCoordinateCenterSaddleX(),
                'y': this.getCoordinateCenterSaddleY()} }}
            </p>
          </div>
          <div *ngIf="this.isShowMessage" class="flex-column">
            <p *ngIf="this.isFootReachTheGround()" class="green  tc ttu b tracked-mega f2">
              {{"is-foot-reach-ground.yes" | translate}}
            </p>
            <p *ngIf="!this.isFootReachTheGround()" class="red  tc ttu b tracked-mega f2 bg-light-gray">
              {{"is-foot-reach-ground.no" | translate}}
            </p>
            <div class="br4 bg-light-gray pa3 lh-solid sans-serif">
              <div class="flex items-center">
                <div class="square color-head mr3"></div>
                <p>{{"color-descriptions.head-neck" | translate}}</p>
              </div>
              <div class="flex items-center">
                <div class="square color-back mr3"></div>
                <p>{{"color-descriptions.back" | translate}}</p>
              </div>
              <div class="flex items-center">
                <div class="square color-arm mr3"></div>
                <p>{{"color-descriptions.arm" | translate}}</p>
              </div>
              <div class="flex items-center">
                <div class="square color-leg-top mr3"></div>
                <p>{{"color-descriptions.leg-up" | translate}}</p>
              </div>
              <div class="flex items-center">
                <div class="square color-leg-bottom mr3"></div>
                <p>{{"color-descriptions.leg-down" | translate}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex  items-center">
      <div class="pt2 pb2 w-50">
        <label class="f3 lh-title b-ns" for="height-rider">{{"rider-height" | translate}}</label>
        <input formControlName="heightRider" id="height-rider" type="number"
               (change)="onChangeInputHeightRider()" class="f3 ma4">
      </div>
      <div class="w-25 f2">
        <input type="checkbox" id="isPositionFootOnGround"  value="true" class="form-control boolean optional f1"
               formControlName="isPositionFootOnGround" (change)="onChangeCheckboxFoot()">
        <label for="isPositionFootOnGround" class="f3 ma3">{{"show-foot-on-ground" | translate}}</label>
      </div>
      <button (click)="this.showRider()" class="f2 bg-green white b--green br2 pa2 btn-show"
              [attr.disabled]="dataForm.status!=='VALID' ? 'disabled': null">{{"show-rider" | translate}}</button>
    </div>
  </form>
  <div class="fixed local">
    <div class="f3 bg-dark-blue white b--green br2 ma4 " (click)="useLanguage('en')">eng</div>
    <div class="f3 bg-dark-blue white b--green br2 ma4 " (click)="useLanguage('ru')">rus</div>
  </div>
</div>
