<div class="center  w-80">
  <form [formGroup]="dataForm">
    <div>
      <label class="f2 b db ma2 mt4 green" for="motocycle-select">Motocycle model</label>
      <select class="ba b--green-20 pa2 mb2 db w-100 f3" id="motocycle-select" formControlName="motocycle" (change)="onChangeSelectMoto()" >
        <option  *ngFor="let moto of motocycles" [ngValue]="moto">{{moto.name}}</option>
      </select>
      <div class="relative  mt-5 flex">
        <div class="absolute" [class.dn]="this.isHideCanvas()" id="canvas-human">
        </div>
        <img *ngIf="this.getImgUrl()" [src]="this.getImgUrl()" alt="moto image" class="img-moto" >
        <div class="flex-column w-100">
          <div class="ba f3 b--green br3 pl3 pr3">
            <p *ngIf="this.getHeightSaddle()" class="" >Height saddle: {{this.getHeightSaddle()}} mm</p>
            <p *ngIf="this.getScale()" class="">Scale: {{this.getScale()}}  (px/cm)</p>
            <p *ngIf="this.getCoordinateCenterSaddle()" class="">
              Coordinates Center Saddlee:
              x = {{this.getCoordinateCenterSaddleX()}},
              y = {{this.getCoordinateCenterSaddleY()}}
            </p>
          </div>
          <div *ngIf="this.isShowMessage" >
            <p *ngIf="this.isFootReachTheGround()" class="green  tc ttu b tracked-mega f2 ">Feet on the ground</p>
            <p *ngIf="!this.isFootReachTheGround()" class="red  tc ttu b tracked-mega f2 bg-light-gray">Feet not on the ground</p>
          </div>
        </div>
      </div>
    </div>
    <div class="flex  items-center">
      <div class="pt2 pb2 w-50">
        <label class="f3 lh-title b-ns" for="height-rider">Rider height</label>
        <input formControlName="heightRider" id="height-rider" class="f3 ma4" type="number"
               (change)="onChangeInputHeightRider()">
      </div>
      <div class="w-25 f2 ">
        <input type="checkbox" id="isPositionFootOnGround"  value="true" class="form-control boolean optional f1"
               formControlName="isPositionFootOnGround" (change)="onChangeCheckboxFoot()">
        <label for="isPositionFootOnGround" class="f3 ma3">Foot on the ground?</label>
      </div>
      <button (click)="this.showRider()" class="f2 bg-green white b--green br2 pa2 btn-show"
              [attr.disabled]="dataForm.status!=='VALID' ? 'disabled': null">Show Rider</button>
    </div>
  </form>
</div>
